hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

.hidden {
	display: none;
}

.mark {
	color: red;
	font-weight: bold;
	vertical-align: top;
}

.album-container {
    max-width: 1360px;
    margin: 50px auto 40px auto;
    position: relative;
}

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
    margin-top: 20px;
}

.step-box,.guide-box {
	max-width: 570px;
	margin: 20px auto;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #f5f5f5;
}

.step-box span {
	margin-right: 15px;
	margin-left: 15px;
}

.step-box span:nth-of-type(odd) {

}

.icon-box {
	display: inline-block;
	margin-left: 15px;
}

.image-box {
	max-width: 240px;
	margin: 0 auto;
	height: 320px;
    background: #fff;
    border:2px double cadetblue;
    font-weight: bold;    
}

.my-image {
	text-align: center;
}

.image-box img {
	border: 1px solid red;
	height:240px;
	width:160px;
	text-align: center;
}

.image-title {
	padding: 5px;
	text-align: center;
}

.image-reason {
	padding: 5px;
	padding-top: 3px;
}

.bottom-controller {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	text-align: center;
	padding-bottom: 15px;
}

.panel-button {
	width: 100px;
	height: 20px;
	line-height: 20px;
	position: relative;
  	display: inline-block;
    padding: .3em 1em 0;
    margin: 20px;   
}

.up-panel-button {
	width: 100px;
	height: 20px;
	line-height: 20px;
	position: relative;
  	display: inline-block;
    padding: .3em 1em 0;
    margin: 20px;
    bottom: 200px;
}


.panel-button:before,
.up-panel-button:before {
	content: '';
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    z-index: -1;
    background: #fff;
    background-image: linear-gradient(
    hsla(0,0%,100%,.6),
    hsla(0,0%,100%,0));
    border: 2px solid cadetblue;
    border-bottom: 2px solid #fff;
    border-radius: .5em .5em 0 0;
    box-shadow: 0 .15em white inset;
    transform: perspective(.5em) rotateX(5deg);
    transform-origin: bottom;	
}

.panel {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: -2;
	border-top: 1px solid cadetblue;
}

.form-group {
	margin: 16px;
}

.form-group:first-child {
	margin: 17px;
}

.form-group label {
	vertical-align: top;
	margin-right: 15px;
}

input[type="text"],input[type="file"] ,textarea {
	display: inline-block;
	width: 170px;
}

